@page "/ProductDetails/{Id:int}"
@inherits ProductDetailsBase

<link rel="stylesheet" href="css/warcraft.css" />
<link rel="stylesheet" href="css/UsualButon.css" />
<link rel="stylesheet" href="css/TextGlobe.css" />

@if (Product == null && ErrorMessage == null)
{
    <h3>Cargando Producto...</h3>
}
else if (ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
            </div>

            <div class="col-4">
                <img src="@Product.ImageUrl" style="float: left; width: 250px; height: auto;" alt="">
            </div>

            <div class="col-5 text-center" style="font-size:40px; place-items: center;">
                <h1 style="font-size:50px">@Product.Name</h1>
                <p class="mb-4">
                    <b>
                        $@Product.Price (@Product.Qty items in stock)
                    </b>
                </p>
                <div>
                    <button class="boton-usual" type="submit" @onclick="() => (AddToCart_Click(new CartItemToAddDto{
                            CartId = HardCoded.CartId,
                            ProductId = Product.Id,
                            Qty = 1
                        }))">
                        Agregar al carrito</button>
                </div>
            </div>

            <div class="col">
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col text-globe" style="font-size:33px; color:black">
                    Elige sabiamente Mortal
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-8 offset-md-2">
                    <img src="/Images/Neptulon.png" style="width: 300px; height: auto;" alt="">
                </div>
                <div class="col-4"></div>
            </div>
        </div>

    </div>
}
