@inherits LayoutComponentBase
<link rel="stylesheet" href="css/warcraft.css" />

<div class="page">
    <main>
        <NavMenu />
        <article>
            @Body
        </article>
    </main>
</div>
